{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
  Mes Documents - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_bodyAbonne %} 
    <!-- Mes Documents -->
    <div class="row">
        <div class="col-md-5">
            {{form_start(form)}}
            {{form_rest(form)}}
            {{form_end(form)}}
        </div>
    </div>

{% endblock %}