{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
	Inscription Université - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_bodyAbonne %} 
	<div class="col-md-10">
		<h5 class="text-center" style="padding-bottom:2%;">S'INSCRIRE A UNE MUTUELLE</h5>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-body">
					<h6 class="text-center" style="text-decoration:underline;">Nom Mutuelle</h6><br />

					<p> Suspendisse ut lacinia sem. Praesent bibendum suscipit neque, vitae consequat nisi commodo et. Integer rhoncus dapibus nisl, quis maximus magna pharetra id. Nulla sit amet elit volutpat, sagittis neque vitae, dictum dolor. Ut finibus velit nec libero cursus, vel sollicitudin erat luctus. Morbi euismod ex quis leo pellentesque, sit amet tempus leo vehicula. Curabitur tellus dui, sodales eget ornare sit amet, molestie vel lacus. Mauris suscipit risus sollicitudin, rhoncus libero vitae, iaculis sapien. In fringilla augue eget mollis interdum. Donec erat quam, imperdiet consectetur malesuada ac, dictum id velit. Vivamus varius ultrices lectus, quis maximus dolor laoreet vel. </p>
					<br /><p class="text-center"><a href="#" class="text-center">Lien vers la mutuelle</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}