{# app/Resources/views/layoutdudeego.html.twig #}

<!DOCTYPE html>
<html>
<head>

 {# Contenu de la balise head #}
 {% block Head %} 
   {% include ':frontend:head.html.twig' %}
 {% endblock %}

</head>
<body>

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {# Contenu de l'en-tete #}
    {% block BackHeader %} 
    {% endblock %}

    {# Contenu de la balise nav #}
    {% block BackNavigation %} 
      {% include ':backend:navigation.html.twig' %}   
    {% endblock %}

    {# Contenu du corps de page #}
    {% block BackBody %} 
    {% endblock %}

    {# Contenu du pied de page #}
    {% block BackFooter %} 
      {% include ':backend:footer.html.twig' %} 
    {% endblock %}

  {% else %}
    {# Contenu de l'en-tete #}
    {% block FrontHeader %} 
    {% endblock %}

    {# Contenu de la balise nav #}
    {% block FrontNavigation %} 
      {% include ':frontend:navigation.html.twig' %}   
    {% endblock %}

    {# Contenu du corps de page #}    
    {% block FrontBody %} 
    {% endblock %}

    {# Contenu du pied de page #}
    {% block FrontFooter %} 
      {% include ':frontend:footer.html.twig' %} 
    {% endblock %}
  {% endif %}

</body>  
</html>
