{# Contenu de la balise header / Carrousel #}
{% include ':default:carousel.html.twig' %}
<div class="container">
	{# Contenu : Marketing Icons Section #}
	{% include ':default:welcome.html.twig' %}
	{# Contenu : Portfolio Section #}
	{% include ':default:formation.html.twig' %}
	<hr>
	{# Contenu : Features Section #}
	{% include ':default:temoignage.html.twig' %}
	<hr>
	{# Contenu : Action Section #}
	{% include ':default:about.html.twig' %}
</div>