{# Contenu de la balise header / Carrousel #}
{% include ':frontend:carousel.html.twig' %}
<div class="container">
	{# Contenu : Marketing Icons Section #}
	{% include ':frontend:welcome.html.twig' %}
	{# Contenu : Portfolio Section #}
	{% include ':frontend:formation.html.twig' %}
	<hr>
	{# Contenu : Features Section #}
	{% include ':frontend:temoignage.html.twig' %}
	<hr>
	{# Contenu : Action Section #}
	{% include ':frontend:about.html.twig' %}
</div>