<!-- Features Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Témoignage des étudiants</h2>
    </div>
    <div class="col-md-6">
        <p>Le témoignage vidéo de Maxime, étudiant à l'Université Européenne de Madrid.</p>
        <ul>
            <li><strong>Témoignagne supplémentaires :</strong>
                <ul>
                    <li>Etudiants français à l’Université Européenne de Madrid</li>
                    <li>Etudiants français en études de kinésithérapie à l’UCAM </li>
                    <li>Delphine et Laura, deux étudiantes ayant suivi des études de kinésithérapie en Espagne</li>
                    <li>Témoignage audio de Charlotte, étudiante à l’Université Européenne de Madrid </li>
                    <li>Témoignages radio de Théo et Nicolas sur France Culture</li>
                </ul>
            </li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-md-6">
        <!-- Full screen -->
        <div class="embed-responsive embed-responsive-16by9">
               <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZScB7CHZlfw" width="700" height="450" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- /.row -->