<header id="header">
  <div class="container">
   <div class="row">
    <div class="header-left col-sm-2 col-xs-5">
     <a href="/"><img class="img-responsive" typeof="foaf:Image" src="http://www.mastersbooking.fr/sites/all/themes/custom/mastersbookingnew/images/logo.png" alt="Masters Booking | Postuler où vous le souhaitez" title="Masters Booking |Accueil" style="display: block;"><noscript>&lt;img class="img-responsive" typeof="foaf:Image" src="http://www.mastersbooking.fr/sites/all/themes/custom/mastersbookingnew/images/logo.png" alt="Masters Booking | Postuler où vous le souhaitez" title="Masters Booking |Accueil" /&gt;</noscript></a>    </div>
     <div class="header-right col-sm-10 col-xs-7">
      <div class="v-align">
        <div class="region region-header">
          <div id="header-btn-search"> </div>
          <div class="header-menu">
            <div id="menu-header"><ul class="level-1" id="user_menu"><li><div class="item main-item"><span class="dropdown-welcome">Hossein</span><div class="profil-img"><img alt="photo Hossein" class="img-responsive" src="http://www.mastersbooking.fr/system/files/styles/thumbnail/private/0021e128dofl2r6t.jpg?itok=iGs4UMc0"></div></div><ul class="menu-list level-2" role="menu"><li><a href="/tableau-de-bord">Tableau de bord</a></li>
            <li><a href="/my-profile">Mon dossier de candidature</a></li>
            <li><a href="/mes-candidatures">Suivi des candidatures</a></li>
            <li><a href="/mes-favoris">Mes Favoris</a></li>
            <li><a href="/#quick-search">Rechercher des programmes</a></li>
            <li><a href="/refer-your-friends">Parrainer des amis</a></li>
            <li><a href="/offres">Candidater à plus de programmes</a></li>
            <li id="account-item"><a href="/user/u_chibanehossein_gmail_com/edit">Mon compte</a></li>
            <li id="log-out-item"><a href="/user/logout?current=user/75271">Se déconnecter</a></li>
          </ul></li></ul></div>   </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
</header>