	<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder"> 
						<a data-type="all" href="#0">Réinitialiser</a> <!-- selected option on mobile -->
					</li> 
					<li class="filter"><a class="selected" href="#0" data-type="all"><span class="glyphicon glyphicon-refresh"></span>Réinitialiser</a></li>
					<li class="filter"><a href="#0" id="croissant"><span class="glyphicon glyphicon-triangle-top"></span>Croissant</a></li>
					<li class="filter"><a href="#0" id="decroissant"><span class="glyphicon glyphicon-triangle-bottom"></span>Décroissant</a></li>
					<li class="filter"><a href="#0" id="grid"><span
						class="glyphicon glyphicon-th"></span>Grille</a></li>
						<li class="filter"><a href="#0" id="list"><span class="glyphicon glyphicon-th-list">
						</span>Liste</a></li>
					</ul> <!-- cd-filters -->
				</div> <!-- cd-tab-filter -->
			</div> <!-- cd-tab-filter-wrapper -->    