			<div class="cd-filter">
				<form id="form_recherche" action="{{ path('dudeego_platform_filtreComparateur') }}" method="Post">

					<div class="cd-filter-block">                                   
						<div class="cd-filter-content">
							<button type="submit" class="btn btn-primary" id="envoyer">Appliquer</button>
							<button type="button" class="btn btn-secondary" onclick="location.href = {{ path('dudeego_platform_voirComparateur') }};">Réinitialiser</button>
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->

					<div class="cd-filter-block">
						<h4>Rechercher</h4>
						<div class="cd-filter-content">
							<input type="search" placeholder="Recherche..." id="search" name="search">
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->

					<div class="cd-filter-block">
						<h4>Durée d'étude</h4>
						<ul class="cd-filter-content cd-filters list">
							<li>
								<input class="filter" name="DureeEtude" data-filter=".check1" type="checkbox" id="checkboxDE1" value="2">
								<label class="checkbox-label" for="checkbox1">2 ans</label>
							</li>
							<li>
								<input class="filter" name="DureeEtude" data-filter=".check2" type="checkbox" id="checkboxDE2" value="3">
								<label class="checkbox-label" for="checkbox2">2 à 4 ans</label>
							</li>
							<li>
								<input class="filter" name="DureeEtude" data-filter=".check3" type="checkbox" id="checkboxDE3" value="4">
								<label class="checkbox-label" for="checkbox3">4 ans</label>
							</li>
						</ul> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Pays</h4>
						<div class="cd-filter-content">
							<div class="cd-select cd-filters">
								<select class="filter" name="Pays" id="Pays">
									<option value="">Choisir un pays</option>
									<option value="Chypre">Chypre</option>
									<option value="Espagne">Espagne</option>
									<option value="Hongrie">Hongrie</option>
									<option value="Luxembourg">Luxembourg</option>
									<option value="Maroc">Maroc</option>
									<option value="Roumanie">Roumanie</option>
									<option value="Pologne">Pologne</option>
									<option value="Portugal">Portugal</option>
								</select>
							</div> <!-- cd-select -->
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Langue</h4>
						<div class="cd-filter-content">
							<div class="cd-select cd-filters">
								<select class="filter" name="Langue" id="Langue">
									<option value="">Choisir une langue</option>
									<option value="Anglais">Anglais</option>
									<option value="Espagnol">Espagnol</option>
									<option value="Français">Français</option>
								</select>
							</div> <!-- cd-select -->
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Type d'établissement</h4>
						<ul class="cd-filter-content cd-filters list">
							<li>
								<input class="filter" data-filter="" type="radio" name="Etablissement" id="radioTE1" value="" checked>
								<label class="radio-label" for="radioTE1">Tous</label>
							</li>
							<li>
								<input class="filter" data-filter=".radio2" type="radio" name="Etablissement" id="radioTE2" value="Prive">
								<label class="radio-label" for="radioTE2">Privé</label>
							</li>
							<li>
								<input class="filter" data-filter=".radio3" type="radio" name="Etablissement" id="radioTE3" value="Publique">
								<label class="radio-label" for="radioTE3">Publique</label>
							</li>
						</ul> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Bourse</h4>
						<ul class="cd-filter-content cd-filters list">
							<li>
								<input class="filter" data-filter="" type="radio" name="Bourse" id="radioB1" value="" checked>
								<label class="radio-label" for="radioB1">Tous</label>
							</li>
							<li>
								<input class="filter" data-filter=".radio2" type="radio" name="Bourse" id="radioB2" value="Oui">
								<label class="radio-label" for="radioB2">Oui</label>
							</li>

							<li>
								<input class="filter" data-filter=".radio3" type="radio" name="Bourse" id="radioB3" value="Non">
								<label class="radio-label" for="radioB3">Non</label>
							</li>
						</ul> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Campus</h4>
						<ul class="cd-filter-content cd-filters list">
							<li>
								<input class="filter" data-filter="" type="radio" name="Campus" id="radioC1" value="" checked>
								<label class="radio-label" for="radioC1">Tous</label>
							</li>
							<li>
								<input class="filter" data-filter=".radio2" type="radio" name="Campus" id="radioC2" value="Oui">
								<label class="radio-label" for="radioC2">Oui</label>
							</li>

							<li>
								<input class="filter" data-filter=".radio3" type="radio" name="Campus" id="radioC3" value="Non">
								<label class="radio-label" for="radioC3">Non</label>
							</li>
						</ul> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Prix</h4>
						<div class="cd-filter-content">
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Taux de réussite</h4>
						<div class="cd-filter-content">
							<input type="range" multiple value="10,80" />
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Taux d'employabilité</h4>
						<div class="cd-filter-content">

						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
					<div class="cd-filter-block">
						<h4>Rémuneration</h4>
						<div class="cd-filter-content">
						</div> <!-- cd-filter-content -->
					</div> <!-- cd-filter-block -->
				</form>

				<a href="#0" class="cd-close">Fermer</a>
			</div> <!-- cd-filter -->
			<a href="#0" class="cd-filter-trigger">Filtres</a>
		</main> <!-- cd-main-content -->
		
		<!-- AJAX HTTP REQUEST -->
{#<script>
    $("#form_recherche").submit(function(){ 
        var variable = $("#search").val();
        alert(variable);

        $.ajax({
            type: "POST",
            url: "{{ path('dudeego_platform_filtreComparateur') }}",
            data: {'search' : variable},
            cache: false,
            success: function(data){
               $('#resultats_recherche').load(data);
                alert('ok');
            }
        });    
        return false;
    });
</script>#}
<script>
	$(document).ready(function() {
    // Lorsque je soumets le formulaire
    $('#form_recherche').on('submit', function(e) {
        e.preventDefault(); // J'empêche le comportement par défaut du navigateur, c-à-d de soumettre le formulaire
        
        var $this = $(this); // L'objet jQuery du formulaire
        
        // Je récupère les valeurs
        var rechercher = $('#search').val();
        var DureeEtude = $('#DureeEtude').val();
        var Pays = $('#Pays').val();
        var Langue = $('#Langue').val();
        var Etablissement = $('#Etablissement').val();
        var Bourse = $('#Bourse').val();
        var Campus = $('#Campus').val();

       // Envoi de la requête HTTP en mode asynchrone
       $.ajax({
                url: $this.attr('action'), // Le nom du fichier indiqué dans le formulaire
                type: $this.attr('method'), // La méthode indiquée dans le formulaire (get ou post)
                data: $this.serialize(), // Je sérialise les données (j'envoie toutes les valeurs présentes dans le formulaire)
                success: function(html) { // Je récupère la réponse du fichier PHP
                	$('#resultats_recherche').load(data);
                    alert(data); // J'affiche cette réponse
                }
            });
   }
});
});
</script>