{# src/DUDEEGO/PlatformBundle/Resources/views/Advert/stage.html.twig #}

{% extends "DUDEEGOPlatformBundle::layout.html.twig" %}

{% block title %}
  Stage - {{ parent() }}
{% endblock %}

{% block dudeegoplatform_body %}
	<div id="content" class="col-md-12">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus erat et dolor scelerisque feugiat. Maecenas sapien erat, aliquet eu vulputate nec, molestie quis enim. Nullam in diam lacus. Aenean lobortis euismod ligula, ut elementum turpis imperdiet vel. Donec eget enim id massa accumsan condimentum at eu lectus. Quisque dui metus, rhoncus id tortor at, tincidunt tincidunt enim. Mauris et semper tellus. Integer maximus accumsan ante. Ut sed nunc nibh. Aenean euismod tincidunt eleifend.

			Donec vitae dictum dui, eget pretium elit. Etiam sed mauris sit amet velit semper posuere. Aliquam mi elit, ultrices quis massa nec, semper accumsan tellus. In metus tellus, iaculis ac nisl nec, convallis lobortis ex. Praesent ultrices interdum urna, in euismod ex commodo eu. Nam efficitur nisl et arcu congue, id hendrerit arcu volutpat. Donec euismod faucibus ante. Cras tincidunt massa ut massa mattis lacinia. Vestibulum molestie semper risus eu porttitor. Cras ac nibh mi. Sed et nibh congue, volutpat ex nec, auctor tortor. Cras eget tellus id diam molestie feugiat eget nec arcu.

			Curabitur facilisis faucibus ligula, in rhoncus metus euismod non. Aliquam ornare tincidunt dapibus. Maecenas turpis lectus, fringilla eu interdum nec, rutrum eget neque. Sed porta ac est non pretium. Vivamus in metus fringilla, semper risus vel, accumsan risus. Sed at sapien nisi. Aenean pulvinar, lacus quis pellentesque rutrum, lacus tortor hendrerit mi, at tincidunt ipsum urna a metus. Sed vel vestibulum odio. Vestibulum ut luctus mi, vitae vehicula dui. Mauris rhoncus neque nunc, at auctor mi commodo sit amet. Aliquam dapibus, nibh ut consequat porttitor, magna lectus consectetur lacus, id posuere nibh ipsum pharetra felis. Cras rutrum velit mauris, eget eleifend augue placerat a. Nulla pharetra mauris vel lectus maximus pharetra vel vel risus. Nulla facilisi.

			Morbi id odio at dolor ultrices accumsan a maximus nunc. Nulla at erat quis magna venenatis lacinia. Vivamus ac ultrices justo. Etiam nibh tellus, facilisis in porta at, pretium vitae ipsum. Morbi eget dictum diam. Suspendisse velit felis, dignissim ut vulputate aliquet, porta vel erat. Morbi sed ornare justo, in finibus ante. Vestibulum accumsan odio in dolor tincidunt consectetur ac at turpis. Curabitur lobortis ullamcorper convallis.

			Maecenas porttitor id dolor vel cursus. Nam iaculis enim pharetra, dapibus libero iaculis, tincidunt dui. Donec et lorem tincidunt, congue est et, vulputate lacus. Proin faucibus purus quis enim ullamcorper, sit amet tristique felis auctor. Donec facilisis hendrerit neque non aliquam. Morbi turpis lacus, finibus eget vestibulum et, consectetur gravida nisi. In non maximus nibh. Integer gravida, elit in placerat convallis, est nulla blandit enim, sit amet cursus purus ante eu nunc. Quisque dignissim pulvinar tellus sit amet auctor. Quisque vel ex porta, pretium purus vitae, ullamcorper sapien. Cras sed ornare mi, sit amet luctus neque. Vestibulum ullamcorper ipsum at iaculis tempus. Donec purus leo, mollis sed iaculis eget, posuere id leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
		</p>
	</div>	
		<div id="content" class="col-md-12">
		<a href="http://www.europesanteformations.fr" alt="InfoBulle">redirection ici</a>
	</div>
{% endblock %}